In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [5]:
data = pd.read_csv('USA_Housing.csv', sep = ',')
print("El dataset inicial es el siguiente:")
print(data, "\n")

El dataset inicial es el siguiente:
      Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
0         79545.458574             5.682861                   7.009188
1         79248.642455             6.002900                   6.730821
2         61287.067179             5.865890                   8.512727
3         63345.240046             7.188236                   5.586729
4         59982.197226             5.040555                   7.839388
...                ...                  ...                        ...
4995      60567.944140             7.830362                   6.137356
4996      78491.275435             6.999135                   6.576763
4997      63390.686886             7.250591                   4.805081
4998      68001.331235             5.534388                   7.130144
4999      65510.581804             5.992305                   6.792336

      Avg. Area Number of Bedrooms  Area Population         Price  \
0                             4.09     23086.800503  1.059034e+06
1                             3.09     40173.072174  1.505891e+06
2                             5.13     36882.159400  1.058988e+06
3                             3.26     34310.242831  1.260617e+06
4                             4.23     26354.109472  6.309435e+05
...                            ...              ...           ...
4995                          3.46     22837.361035  1.060194e+06
4996                          4.02     25616.115489  1.482618e+06
4997                          2.13     33266.145490  1.030730e+06
4998                          5.44     42625.620156  1.198657e+06
4999                          4.07     46501.283803  1.298950e+06

                                                Address
0     208 Michael Ferry Apt. 674\r\nLaurabury, NE 37...
1     188 Johnson Views Suite 079\r\nLake Kathleen, ...
2     9127 Elizabeth Stravenue\r\nDanieltown, WI 064...
3                           USS Barnett\r\nFPO AP 44820
4                          USNS Raymond\r\nFPO AE 09386
...                                                 ...
4995                 USNS Williams\r\nFPO AP 30153-7653
4996            PSC 9258, Box 8489\r\nAPO AA 42991-3352
4997  4215 Tracy Garden Suite 076\r\nJoshualand, VA ...
4998                        USS Wallace\r\nFPO AE 73316
4999  37778 George Ridges Apt. 509\r\nEast Holly, NV...

[5000 rows x 7 columns]

In [6]:
print(data.columns, "\n")
print("Realizamos el cambio de inglés a español:")
columnas_esp =  {'Avg. Area Income': 'Ingreso_Promedio',
                 'Avg. Area House Age': 'Edad_Promedio_Casa',
                 'Avg. Area Number of Rooms': 'Num_Habitaciones_Promedio',
                 'Avg. Area Number of Bedrooms': 'Num_Dormitorios_Promedio',
                 'Area Population': 'Poblacion_Area',
                 'Price': 'Precio',
                 'Address': 'Direccion'}
data.rename(columns=columnas_esp, inplace=True)
print(data.columns, "\n")

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'Address'],
      dtype='object')

Realizamos el cambio de inglés a español:
Index(['Ingreso_Promedio', 'Edad_Promedio_Casa', 'Num_Habitaciones_Promedio',
       'Num_Dormitorios_Promedio', 'Poblacion_Area', 'Precio', 'Direccion'],
      dtype='object')